body {
  color: #333;
}

.nav-pages {
  background-color: #3c0d0d;
  height: 110px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 2px 5px 0px, rgba(0, 0, 0, 0.117647) 0px 2px 10px 0px;
  z-index: 1100;
}

.nav.navbar-nav.navbar-right li a {
  color: #D14233;
}

.ntext{
  padding-top: 38px;
}

.bg-img {
  background-image: url(../img/officepic.jpg);
  background-size: cover;
}

.background-img {
  text-align: center;
  align-items: center;
  color: white;
  background-color: rgba(49, 12, 12, 0.76);
  height: 100%;
}

.klmid {
  padding-top: 200px;
}


footer {
  background-color: #3c0d0d;
  color: white;
  margin-top: 25px;
}
.c-footer {
  padding-top: 15px;
}

li {
  list-style: none;
}

.complogo {
  height: 100px;
  width: 100px;

}

.stlogo {
  height: 150px;
  width: 150px;
}
